
body{
	margin: 0 auto;
}

a:hover{
	text-decoration: none;
}

img {
	max-width: 100%;
}

a{
	font-family: 'Cormorant Garamond', serif;
}

h1{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	font-size: 40px;
	// letter-spacing: 5px;
}

h2{
	font-weight: 700;
	letter-spacing: 2px;
	font-family: 'Cormorant Garamond', serif;
}

h3{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 700;
	color: black;
}

h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 22px;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: black;
}

ul{
	font-family: 'Raleway', sans-serif;
	
	font-size: 18px;	
}

header li{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	letter-spacing: 2px;
	text-shadow: 0.5px 0.5px rgba(0,0,0,0.2);
}

footer li{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@media(max-width: 480px){
	h4{
		font-size: 16px;
	}

	footer li{
		font-size: 10px;
	}
}