.picture-omos{
	background-image: url(/img/forgrund.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
	height: 550px;
}

.omos{
	background-color: rgba(214, 200, 193, 0.2);
}

.section-omos-wrapper{
	padding: 50px 0;

}

.display{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 50px 0;
	
	h3{
		padding-top: 10px;
		font-weight: 700;
		letter-spacing: 2px;
	}

	p{
		padding-top: 20px;
	}
}

.person-picture{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height: 400px;
		width: 100%;
}

.tinne{
	background-image: url(/img/tinne.jpg);
}

.tina{
	background-image: url(/img/tina.jpg);	
}

@media(max-width: 480px){
	.display{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0;
	}

	.section-omos-wrapper{
		padding: 50px 0;
	}

	.person-picture{
		
	}

	.omos-content h3,p{
		text-align: center;
	}

	.person-picture{
		height: 300px;
	}

	.picture-omos{
	background-image: url(/img/forgrund.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 90% 68%;
	position: relative;
	height: 450px;
	}
}

@media(max-width: 780px){
	.display{
		padding: 20px 0;
	}
}